table, th, td {
			border: 1px solid black;
			}
			body {
			background-color:powderblue;
			}
			p {
			padding: 10px;
			border: 1px dashed black;
			}
			#test{
			border-radius:25px;
			}